- name: Create application secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ app }}-secrets"
        namespace: "{{ openshift_namespace }}"
      type: Opaque
      stringData:
        DB_TYPE: postgresdb
        DB_POSTGRESDB_HOST: postgres-cluster-rw
        DB_POSTGRESDB_PORT: "5432"
        DB_POSTGRESDB_DATABASE: "{{ app }}-db"
        DB_POSTGRESDB_USER: "{{ app }}-user"
        DB_POSTGRESDB_PASSWORD: "{{ secrets[openshift_env].database.password }}"
        N8N_HOST: "{{ subdomain }}{% if openshift_env == 'test' %}-test{% endif %}.{{ domain }}"
        N8N_PORT: "5678"
        N8N_ENCRYPTION_KEY: "{{ secrets[openshift_env].key }}"
        N8N_PROTOCOL: https
        WEBHOOK_URL: "https://{{ subdomain }}{% if openshift_env == 'test' %}-test{% endif %}.{{ domain }}/"
        N8N_USER_FOLDER: /home/node/.n8n
        GENERIC_TIMEZONE: Europe/Paris
        TZ: Europe/Paris
        N8N_LOG_LEVEL: info
