- name: Create application secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ app }}-secrets"
        namespace: "{{ openshift_namespace }}"
      type: Opaque
      stringData:
        DB_TYPE: postgresdb
        DB_POSTGRESDB_HOST: "{{ postgres_cluster.host }}"
        DB_POSTGRESDB_PORT: "5432"
        DB_POSTGRESDB_DATABASE: "{{ app }}-db"
        DB_POSTGRESDB_USER: "{{ app }}-user"
        DB_POSTGRESDB_PASSWORD: "{{ secrets[openshift_env].database.password }}"
        DATABASE_URL: "postgresql://{{ app }}-user:{{ secrets[openshift_env].database.password }}@{{ postgres_cluster.host }}:5432/{{ app }}-db"
        CORE_HOSTNAME: "0.0.0.0"
        CORE_PORT: "3000"
        DATASOURCE_S3_REGION: "us-east-1"
        DATASOURCE_S3_ENDPOINT: "{{ secrets[openshift_env].s3.endpoint }}"
        DATASOURCE_TYPE: "s3"
        DATASOURCE_S3_ACCESS_KEY_ID: "{{ secrets[openshift_env].s3.accesskey }}"
        DATASOURCE_S3_SECRET_ACCESS_KEY: "{{ secrets[openshift_env].s3.secretkey }}"
        DATASOURCE_S3_BUCKET: "{{ secrets[openshift_env].s3.name }}"
        DATASOURCE_S3_FORCE_PATH_STYLE: "true"
        CORE_SECRET: "{{ secrets[openshift_env].web.secret }}"
        PRESIGNED_URL_EXPIRATION: "3600"
