- name: Create application secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ app }}-secrets"
        namespace: "{{ openshift_namespace }}"
      type: Opaque
      stringData:
        APP_HOME_URL: "https://{{ subdomain }}{% if openshift_env == 'test' %}-test{% endif %}.{{ domain }}"
        APP_DOC_URL: "https://{{ subdomain }}{% if openshift_env == 'test' %}-test{% endif %}.{{ domain }}"
        TYPEORM_DATABASE: "{{ app }}-db"
        TYPEORM_HOST: "postgres-cluster-rw"
        TYPEORM_LOGGING: "false"
        TYPEORM_PORT: "5432"
        TYPEORM_TYPE: "postgres"
        TYPEORM_USERNAME: "{{ app }}-user"
        TYPEORM_PASSWORD: "{{ secrets[openshift_env].database.password }}"
        REDIS_URL: "redis://{{ app }}-redis/1"
        GRIST_OIDC_IDP_ISSUER: "{{ secrets[openshift_env].auth.issuer }}"
        GRIST_OIDC_IDP_CLIENT_ID: "{{ secrets[openshift_env].auth.client_id }}"
        GRIST_OIDC_IDP_CLIENT_SECRET: "{{ secrets[openshift_env].auth.client_secret }}"
        GRIST_OIDC_SP_IGNORE_EMAIL_VERIFIED: "true"
        GRIST_FORCE_LOGIN: "true"
        ALLOWED_WEBHOOK_DOMAINS: "*"
