- name: Build postgres roles
  set_fact:
    postgres_roles: "{{ postgres_roles | default([]) + [role_item] }}"
  vars:
    role_item:
      name: "{{ item }}-user"
      ensure: present
      login: true
      superuser: false
      passwordSecret:
        name: "{{ item }}-db-credentials"
  loop: "{{ postgres_users }}"

- name: Create S3 credentials secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: s3-credentials
        namespace: "{{ openshift_namespace }}"
      stringData:
        AWS_BUCKET_NAME: "{{ secrets[openshift_env].s3.name }}"
        AWS_BUCKET_HOST: "{{ secrets[openshift_env].s3.host }}"
        AWS_ACCESS_KEY_ID: "{{ secrets[openshift_env].s3.access_key_id }}"
        AWS_SECRET_ACCESS_KEY: "{{ secrets[openshift_env].s3.access_key_secret }}"
      type: Opaque

- name: Deploy PostgreSQL cluster
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      metadata:
        name: postgres-cluster
        namespace: "{{ openshift_namespace }}"
      spec:
        instances: 3
        primaryUpdateStrategy: unsupervised
        backup:
          barmanObjectStore:
            data:
              compression: snappy
            wal:
              compression: snappy
              maxParallel: 8
            destinationPath: "s3://{{ secrets[openshift_env].s3.name }}/{{ openshift_env }}"
            endpointURL: "https://{{ secrets[openshift_env].s3.host }}"
            s3Credentials:
              accessKeyId:
                name: s3-credentials
                key: AWS_ACCESS_KEY_ID
              secretAccessKey:
                name: s3-credentials
                key: AWS_SECRET_ACCESS_KEY
        storage:
          size: "1Gi"
          storageClass: "sopec"
        monitoring:
          enablePodMonitor: true
        enableSuperuserAccess: true
        env:
          - name: AWS_REQUEST_CHECKSUM_CALCULATION
            value: WHEN_REQUIRED
          - name: AWS_RESPONSE_CHECKSUM_VALIDATION
            value: WHEN_REQUIRED
        postgresql:
          parameters:
            max_connections: "600"
            max_slot_wal_keep_size: 3GB
            shared_buffers: 256MB
        resources:
          requests:
            cpu: "100m"
            memory: "600Mi"
          limits:
            memory: "1Gi"
        managed:
          roles: "{{ postgres_roles }}"

- name: Create scheduled backup
  kubernetes.core.k8s:
    state: present
    definition:
      kind: ScheduledBackup
      apiVersion: postgresql.cnpg.io/v1
      metadata:
        name: "cluster-scheduled-backup"
        namespace: "{{ openshift_namespace }}"
      spec:
        schedule: "0 0 2 * * *"
        backupOwnerReference: "self"
        cluster:
          name: postgres-cluster
